* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Tahoma", serif;
}

.root {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#7C47B4, #21B7D6);
}

.form {
    width: 350px;
    height: 384px;
    padding: 20px;
    background-color: #292C66;
    position: relative;
}

.btn {
    width: 45%;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.btn:focus {
    outline: none;
}

.activeBtn {
    background-color: #5CB03A;
    color: whitesmoke;
}


.titleWrap {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.headerWrap {
    display: flex;
    justify-content: space-between;
    color: white;
}

.loginInputsWrap input {
    width: 100%;
    padding-left: 10px;
    height: 40px;
    border: none;
    border-radius: 3px;
    margin: 0 0 20px 0;
    font-size: 14px;
    transition: .5s;
}

.loginInputsWrap input:focus {
    outline: none;
    border: 3px solid lightgreen;
}

.submitButton {
    width: 310px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #5CB03A;
    border-radius: 5px;
    color: white;
    transition: .3s;
    position: absolute;
    bottom: 20px;
}

.submitButton:hover {
    background-color: #6cd442;
}

.submitButton:focus {
    outline: none;
}